.pairSelection {
    max-width: 768px;
    width: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;

    .pairSelection-option {
        cursor: pointer;
        margin-bottom: 8px;
    }

    .pairSelection-optionList {
        margin: 0;
        columns: 2;
    }

}